---
layout: default
---

{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Generic layout

	Description:

		A generic layout.

	Example:

		---
		layout: generic
		---

{% endcomment %}

<!-- Wrapper -->
	<section id="wrapper">
		<header>
			<div class="inner">
				<h2>{{ page.title }}</h2>
				<p>{{ page.tagline }}</p>
			</div>
		</header>

		<!-- Content -->
			<div class="wrapper">
				<div class="inner">

					{{ content }}

				</div>
			</div>

	</section>